@mixin customArrow {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  color: #4b4b4b;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 8;
}
@mixin nextArrow {
  right: 0;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
@mixin prevArrow {
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
// Banner
.prev_banner,
.next_banner {
  @include customArrow();
  top: 50%;
}
.next_banner {
    @include nextArrow();
}
.prev_banner {
    @include prevArrow();
}
// Section main
.prevArrow,
.nextArrow{
    @include customArrow();
    top: 36%;
}
.nextArrow {
    @include nextArrow();
}
.prevArrow {
    @include prevArrow();
}