@import "../../styles/variables";
@import "../../styles/base";

.body {
  display: flex;
  @include bodyPageDetail();
  .left {
    width: 8%;
  }
  .right {
    width: 92%;
    .container {
      @include flex-center;
      flex-direction: column;
      .header {
        background: url("../../assets/images/banner/bg_clinic.jpg");
        width: 100%;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        .clinic_info_container {
          background-image: linear-gradient(
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.5)
          );
          padding: 30px 0;
          @include flex-center;
          .clinic_info_content {
            @include flex-center;
            @include boxHolder;
            gap: 20px;
            width: 60%;
            padding: 20px;
            .header_left {
              @include boxHolder;
              width: 40%;
            }
            .header_right {
              width: 60%;
              .name_clinic {
                font-size: $title;
                line-height: $title;
                font-weight: 700;
                margin-bottom: 10px;
              }
              .address_clinic {
                font-size: $h3;
                line-height: $h3;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
    .detail_clinic_container {
      @include PaddingPageDetail();
      .guide_container {
        @include flex-start-column;
        gap: 20px;
        .guide1 {
          @include boxHolder;
          padding: 20px;
          background: #ffecb2;
          font-size: $h3;
          line-height: 30px;
          font-weight: 400;
          color: $color_sub;
        }
        .guide2 {
          @include boxHolder;
          padding: 20px;
          background: #b3cad4;
          > p,
          > p > span {
            font-size: $h3;
            line-height: 30px;
            font-weight: 400;
            color: $color_sub;
          }
          > ul {
            list-style: inside;
            > li {
              line-height: 24px;
              font-weight: 400;
            }
          }
        }
      }
      .detail_clinic_content {
        > h1 {
          font-size: $h1;
          line-height: $h1;
          font-weight: 700;
          margin: 20px 30px;
          @include titleBody;
          color: $color_main;
        }
        > h2 {
          font-size: $h2;
          line-height: $h2;
          font-weight: 700;
          @include titleBody;
          margin: 20px 20px;
        }
        > p {
          line-height: 24px;
          font-weight: 500;
          margin: 10px;
        }
        > ul {
          list-style: inside;
          > li {
            line-height: 24px;
            font-weight: 400;
          }
        }
      }
    }
    .detail_doctorArr {
      @include PaddingPageDetail();
      @include flex-start-column;
      gap: 20px;
      margin-bottom: 50px;
      .detail_doctor_box {
        width: 100%;
        @include flex-start;
        align-items: flex-start;
        padding-bottom: 10px;
        border-bottom: 2px solid #ccc;
        gap: 20px;
        .left_holder {
          width: 50%;
        }
        .right_holder {
          width: 50%;
          @include flex-start-column;
          gap: 20px;
          .up_holder {
            width: 100%;
            height: 50%;
          }
          .down_holder {
            width: 100%;
            height: 50%;
          }
        }
      }
      .no_doctor {
        @include boxHolder;
        padding: 20px;
        font-weight: 500;
      }
    }
  }
}
